.modalDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1001;
  border: unset;
  display: block;
}

.modalDialog > div {
  padding: var(--unit-3);
}

.modalDialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modalDialog svg {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modalDialog h4 {
  margin-bottom: var(--unit-5);
}

.modalDialog button {
  margin-left: auto;
  display: flex;
}
